#specs {
  padding: 0 2rem;
}

.specs__container h3 {
  font-size: 2rem;
}

.specs__text {
  align-content: start;
  align-self: center;
  padding: 6rem;
}

.specs__paragraph {
  line-height: 1.6rem;
  margin-top: 1rem;
}
