.l-50 {
  width: 50%;
}

.l-flex {
  display: flex;
}

.l-justify-start {
  justify-content: flex-start;
}

.l-justify-end {
  justify-content: flex-end;
}

.l-justify-centered {
  justify-content: center;
}

.l-align-centered {
  align-items: center;
}
