.l-50 {
  width: 50%;
}

.l-flex {
  display: flex;
}

.l-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.l-reverse {
  flex-direction: row-reverse;
}

.l-justify-start {
  justify-content: flex-start;
}

.l-justify-end {
  justify-content: flex-end;
}

.l-justify-centered {
  justify-content: center;
}

.l-align-centered {
  align-items: center;
}

.l-block-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.l-block-large-margin {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
