#nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-50 {
  width: 50%;
}

.l-justify-centered {
  justify-content: center;
}

.l-align-centered {
  align-items: center;
}
